/*
 * Copyright (c) 2024 Blynk Technologies Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */


/ {
    chosen {
        zephyr,console = &uart5;
        zephyr,shell-uart = &uart5;
        blynk,ncp-uart = &usart2;
        zephyr,code-partition = &slot0_partition;
    };
};

&uart5 {
    pinctrl-0 = <&uart5_tx_pc12 &uart5_rx_pd2>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};

&usart2 {
    pinctrl-0 = <&usart2_tx_pd5 &usart2_rx_pd6>;
    pinctrl-names = "default";
    current-speed = <38400>;
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x0000000 0x20000>;
            read-only;
        };
        nvs_partition: partition@20000 {
            label = "nvs";
            reg = <0x0020000 0x00020000>;
        };
        slot0_partition: partition@40000 {
            label = "image-0";
            reg = <0x0040000 0x40000>;
        };
        slot1_partition: partition@80000 {
            label = "image-1";
            reg = <0x0080000 0x40000>;
        };
        scratch_partition: partition@C0000 {
            label = "scratch";
            reg = <0x00C0000 0x40000>;
        };
    };
};
