/*
 * Copyright (c) 2024 Blynk Technologies Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */


/ {
    chosen {
        zephyr,console = &usart0;
        zephyr,shell-uart = &usart0;
        blynk,ncp-uart = &uart;
        blynk,ncp-rst = &ncp_rst;
    };

    outputs {
        compatible = "gpio-leds";
        ncp_rst: ncp_rst {
            gpios = <&pioc 25 0>; /* D5 */
            label = "NCP RST";
        };
    };
};

&usart0 {
    status = "okay";
    current-speed = <115200>;

    pinctrl-0 = <&usart0_default>; /* PA10, PA11 */
    pinctrl-names = "default";
};
